/* 
    Author: Ayman Dimaypung;
    Theme: Food Order Website Admin;
    Version 1.0;
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-size: 2.5rem;
}

.wrapper {
  padding: 1%;
  width: 80%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.clearFix {
  float: none;
  clear: both;
}
.tbl-full {
  width: 100%;
}

.tbl-30 {
  width: 30%;
}

table tr th {
  font-size: 1.5rem;
  border-bottom: 1px solid #000;
  padding: 1%;
  /* text-align: left; */
}

table tr td {
  font-size: 1.5rem;
  padding: 1%;
}

input {
  font-size: 1.2rem;
}

input[type="submit"] {
  font-size: 1.8rem;
  color: #fff;
  padding: 2px 5px;
}

.btn-primary {
  background-color: #1e90ff;
  color: #fff;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #3742fa;
}

.btn-secondary {
  background-color: #7bed9f;
  color: #000;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
}

.btn-secondary:hover {
  background-color: #2ed573;
}

.btn-danger {
  background-color: #ff6b81;
  color: #fff;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
}

.btn-danger:hover {
  background-color: #ff4757;
}

.success {
  color: #2ed573;
  padding: 5px;
}
.btn-lg {
  padding: 1rem;
}

.btn-xs {
  padding: 0.5rem;
}

.error {
  color: #ff4757;
  padding: 5px;
}

/* Menu Styles */
.menu {
  border-bottom: 1px solid grey;
}

.menu ul {
  list-style: none;
}

.menu ul li {
  display: inline;
  padding: 1rem;
}

.menu ul li a {
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: bold;
  color: #ff6b81;
}

.menu ul li a:hover {
  color: #ff4757;
}

/* Main Content Styles */
.main-content {
  background-color: #f1f2f6;
  padding: 3% 0;
}

.col-4 {
  width: 18%;
  background-color: #fff;
  margin: 1%;
  padding: 2%;
  float: left;
}

/* Footer Styles */
.footer {
  background-color: #ff4757;
  color: #fff;
}

.footer p {
  font-size: 1.5rem;
}

/* Login Styles */
.login {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5rem;
}
